<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>虚拟公司-操作板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
        <section class="registerBox row">
          <section class="col-md-12">
            <div class="text-center">
                <h2>
                    主页
                </h2>
            </div>
          </section>
    </div> <!-- /container -->
  </body>
</html>
